<div class="form">
    <div id="login">
        <form action="/login" method="post">
            <div class="field-wrap">
                <input type="username" autocomplete="off" name="username" placeholder="Username" />
            </div>
            <div class="field-wrap">
                <input type="password" autocomplete="off" name="password" placeholder="Password" />
            </div>
            <button class="button button-block" />Log In</button>
        </form>
    </div>
</div>