<div class="form">
    <div id="login">
        <form action="/signup" method="post">
            <div class="field-wrap">
                <input type="username" autocomplete="off" name="username" placeholder="Username" />
            </div>
            <div class="field-wrap">
                <input type="password" autocomplete="off" name="password" placeholder="Password" />
            </div>
            <div class="field-wrap">
                <input type="password" autocomplete="off" name="repeatPassword" placeholder="Repeat Password" />
            </div>
            <button class="button button-block" />Sign Up</button>
        </form>
    </div>
</div>