<div class="form">
    <div id="upload">
        <form enctype="multipart/form-data" action="/upload" method="post">
            <div class="field-wrap">
                <input type="file" accept=".csv" multiple="multiple" name="upload" />
            </div>
            <div class="field-wrap">
                <button class="button button-block" />Send</button>
            </div>
        </form>
    </div>
    {{#if success}}
    <div class="notification">
        <h2>{{success}}</h2>
    </div>
    {{/if}}
</div>